<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="Config">
	<typeAlias alias="Config" type="com.dianping.lion.entity.Config" />
	<typeAlias alias="ConfigStatus" type="com.dianping.lion.entity.ConfigStatus" />
	<typeAlias alias="ConfigInstance" type="com.dianping.lion.entity.ConfigInstance" />

	<resultMap id="ConfigResult" class="Config">
		<result column="id" property="id"/>
		<result column="key" property="key"/>
		<result column="desc" property="desc"/>
		<result column="type" property="type"/>
		<result column="projectId" property="projectId"/>
		<result column="createUserId" property="createUserId"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyTime" property="modifyTime"/>
		<result column="seq" property="seq"/>
	</resultMap>
	
	<resultMap id="ConfigInstanceResult" class="ConfigInstance">
		<result column="id" property="id"/>
		<result column="configId" property="configId"/>
		<result column="envId" property="envId"/>
		<result column="value" property="value"/>
		<result column="context" property="context"/>
		<result column="contextmd5" property="contextmd5"/>
		<result column="createUserId" property="createUserId"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyTime" property="modifyTime"/>
		<result column="desc" property="desc"/>
		<result column="seq" property="seq"/>
	</resultMap>
	
	<select id="findConfigsByProject" resultMap="ConfigResult" parameterClass="int">
		SELECT * FROM config WHERE projectId = #projectId# ORDER BY seq, id
    </select>
    
    <select id="findInstancesByProjectAndEnv" resultMap="ConfigInstanceResult" parameterClass="map">
		SELECT i.*
		FROM config c inner join config_instance i on c.id = i.configId
		WHERE c.projectId = #projectId# AND i.envId = #envId#
		ORDER BY c.seq, c.id
    </select>
    
    <select id="findInstance" resultMap="ConfigInstanceResult" parameterClass="map">
    	SELECT *
    	FROM config_instance
    	WHERE configId = #configId#
    	<isNotNull property="envId"> AND envId = #envId#</isNotNull>
    	<isNotNull property="contextmd5"> AND contextmd5 = #contextmd5#</isNotNull>
    </select>
    
    <select id="findMaxInstsBySeq" resultMap="ConfigInstanceResult" parameterClass="map">
    	SELECT a.*
    	FROM config_instance a
    	WHERE a.configId = #configId#<isNotNull property="envId"> AND a.envId = #envId#</isNotNull><![CDATA[ AND (
    			SELECT COUNT(*) FROM config_instance b WHERE a.configId = b.configId AND a.envId = b.envId AND a.seq < b.seq
    		) < #max#
    	ORDER BY a.seq DESC
    	]]>
    </select>
    
    <select id="findDefaultInstances" resultMap="ConfigInstanceResult" parameterClass="map">
    	SELECT i.*
    	FROM config c inner join config_instance i on c.id = i.configId
    	WHERE c.projectId = #projectId# AND i.envId = #envId# AND i.context = ''
		ORDER BY c.seq, c.id
    </select>
    
    <select id="findHasInstanceConfigs" resultClass="int" parameterClass="map">
    	SELECT DISTINCT c.id
    	FROM config c inner join config_instance i on c.id = i.configId
    	WHERE c.projectId = #projectId# AND i.envId = #envId#
    </select>
    
    <select id="findHasContextInstConfigs" resultClass="int" parameterClass="map">
    	<![CDATA[
    	SELECT DISTINCT c.id
    	FROM config c inner join config_instance i on c.id = i.configId
    	WHERE c.projectId = #projectId# AND i.envId = #envId# AND i.context <> ''
    	]]>
    </select>
    
    <select id="findConfigStatuses" resultClass="ConfigStatus" parameterClass="map">
    	SELECT s.* 
    	FROM config c inner join config_status s on c.id = s.configId
    	WHERE c.projectId = #projectId# AND s.envId = #envId#
    </select>
    
    <select id="getConfig" resultMap="ConfigResult" parameterClass="int">
    	SELECT * FROM config WHERE id = #configId#
    </select>
    
    <select id="findConfigByKey" resultMap="ConfigResult" parameterClass="string">
    	SELECT * FROM config WHERE `key` = #key#
    </select>
    
    <select id="findConfigByKeys" resultMap="ConfigResult" parameterClass="list">
    	SELECT * FROM config WHERE `key` IN <iterate open="(" close=")" conjunction=",">#[]#</iterate>
    </select>
    
    <select id="findForeffectiveConfig" resultMap="ConfigResult" parameterClass="map">
    	SELECT c.* 
    	FROM config c INNER JOIN config_status s ON c.id = s.configId
    	WHERE c.projectId = #projectId# AND s.envId = #envId# AND s.`status` = #foreffctive#
    </select>
    
    <select id="getNextConfig" resultMap="ConfigResult" parameterClass="int">
    	SELECT c2.*
    	FROM config c1 INNER JOIN config c2 ON c1.projectId = c2.projectId
    	WHERE c1.id = #configId# AND c2.seq > c1.seq
    	ORDER BY c2.seq, c2.id
    	LIMIT 1 
    </select>
    
    <select id="getMaxSeq" resultClass="int" parameterClass="int">
    	SELECT MAX(seq) FROM config WHERE projectId = #projectId#
    </select>
    
    <select id="getMaxInstSeq" resultClass="int" parameterClass="map">
    	SELECT MAX(seq) FROM config_instance WHERE configId = #configId# AND envId = #envId#
    </select>
    
    <select id="getPrevConfig" resultMap="ConfigResult" parameterClass="int">
    	<![CDATA[
    	SELECT c2.*
    	FROM config c1 INNER JOIN config c2 ON c1.projectId = c2.projectId
    	WHERE c1.id = #configId# AND c2.seq < c1.seq
    	ORDER BY c2.seq desc, c2.id desc
    	LIMIT 1 
    	]]>
    </select>
    
    <update id="updateConfig" parameterClass="Config">
    	UPDATE config
    	SET `desc` = #desc#, type = #type#, modifyUserId = #modifyUserId#, modifyTime = #modifyTime#, seq = #seq#
    	WHERE id = #id#
    </update>
    
    <insert id="insertConfig" parameterClass="Config">
    	INSERT INTO config(`key`, `desc`, type, projectId, createUserId, modifyUserId, createTime, modifyTime, seq)
    	VALUES(#key#, #desc#, #type#, #projectId#, #createUserId#, #modifyUserId#, NOW(), NOW(), #seq#)
    	<selectKey resultClass="int">    
            SELECT LAST_INSERT_ID() AS ID
        </selectKey> 
    </insert>
    
    <delete id="deleteConfig" parameterClass="int">
    	DELETE FROM config WHERE id = #configId#
    </delete>
    
    <insert id="insertInstance" parameterClass="ConfigInstance">
    	INSERT INTO config_instance(configId, envId, value, context, contextmd5, createUserId, modifyUserId, createTime, modifyTime, `desc`, seq)
    	VALUES(#configId#, #envId#, #value#, #context#, #contextmd5#, #createUserId#, #modifyUserId#, NOW(), NOW(), #desc#, #seq#)
    	<selectKey resultClass="int">    
            SELECT LAST_INSERT_ID() AS ID
        </selectKey> 
    </insert>
    
    <insert id="insertStatus" parameterClass="ConfigStatus">
    	INSERT INTO config_status(configId, envId, `status`, activeTime)
    	VALUES(#configId#, #envId#, #status#, #activeTime#)
    	<selectKey resultClass="int">    
            SELECT LAST_INSERT_ID() AS ID
        </selectKey> 
    </insert>
    
    <update id="updateStatusStat" parameterClass="map">
    	UPDATE config_status SET `status` = #status# WHERE configId = #configId# AND envId = #envId# 
    </update>
    
    <update id="updateStatus" parameterClass="ConfigStatus">
    	UPDATE config_status SET `status` = #status#, activeTime = #activeTime# WHERE configId = #configId# AND envId = #envId#
    </update>
    
    <update id="updateInstance" parameterClass="ConfigInstance">
    	UPDATE config_instance
    	SET value = #value#, context = #context#, contextmd5 = #contextmd5#, modifyUserId = #modifyUserId#, modifyTime = #modifyTime#, `desc` = #desc#, seq = #seq#
    	WHERE id = #id#
    </update>
    
    <delete id="deleteInstance" parameterClass="map">
    	DELETE FROM config_instance WHERE configId = #configId# <isNotNull property="envId"> AND envId = #envId#</isNotNull>
    </delete>
    
    <delete id="deleteStatus" parameterClass="map">
	    DELETE FROM config_status
	    WHERE configId = #configId# <isNotNull property="envId"> AND envId = #envId#</isNotNull>
    </delete>
    
</sqlMap>