<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false" default-autowire="byName">
	
	<bean id="storager" class="com.dianping.lion.db.Storager" init-method="init">
	</bean>
	
	<bean id="dataSourceFetcher" class="com.dianping.lion.db.DataSourceFetcher" init-method="init">
		<property name="host" value="${lion-api.dbims.host}"></property>
		<property name="port" value="${lion-api.dbims.port}"></property>
		<property name="protocal" value="http"></property>
		<property name="path" value="${lion-api.dbims.lionpath}"></property>
		<property name="srtkey" value="${lion-api.dbims.srtkey}"></property>
	</bean>
	
	<bean id="jsonParser" class="com.dianping.lion.util.JsonParser"/>
</beans>