body {
	font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noborder {
	border: 0px solid #ddd;
}
.smallpadding{
	padding: 1px 1px;
}
.smallbottommargin{
	margin: 0 0 8px;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: Orange;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

/*覆写dropdown-big-menu的位置，向右平移*/
.dropdown-menu.big-menu {
 	right: -150px !important;
}

/*覆写dropdown-big-menu的箭头位置*/
.dropdown-menu.big-menu:after {
	right : 163px !important;
}

/*同上，兼容IE浏览器，IE会生成after和before两个箭头*/
.dropdown-menu.big-menu:before {
	right : 163px !important;
}

.dropdown-menu .divider {
	height : 0px;
	border-bottom: 1px dashed white !important;
	margin: 1px 1px;
}

.nav li + .nav-header {
	margin-top: 2px;
}

.pp_location {
	width: 677px;
	overflow: hidden;
	left: 0;
	top: 26px;
}

.pp_location dl {
	margin-bottom: 8px;
	border-bottom: 1px dashed #E4E4E4;
	margin: 0;
	padding: 3px;
}

.pp_location dt {
	float: left;
	width: 90px;
	color: #999;
	padding: 0;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.pp_location dd {
	margin-left: 90px;
	margin-right: -10px;
	padding-top: 1px 9;
}

.pp_location ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pp_location li {
	float: left;
	width: 140px;
	margin: 0 5px 1px 0;
	padding: 0;
}

.pp_location a {
	padding: 0;
	white-space: normal;
}

.Fix:after {
	clear: both;
	display: block;
	height: 0px;
	content: '\20';
}

.pop-panel {
	visibility: hidden;
	padding: 5px 9px;
	background: white;
	color: #61646E;
}

form.lion > label:first-child {
	margin-left: 7px;
}

form.lion > *+label, form.lion > *+button {
	margin-left: 25px;
}

table.lion {
	margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.alert-lion {
		margin-left: -20px;
	}
}

@media (min-width: 1200px) {
	.alert-lion {
		margin-left: -30px;
	}
}

/*==============extend jquery ui===============*/
.ui-widget-header {
	background : whiteSmoke;
}

/*==============extend jquery dialog===============*/
.ui-dialog .ui-dialog-buttonpane button {
	margin : .5em .4em .5em 1.5em;
	-webkit-border-radius : 4px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	border : 1px solid #CCC;
	background-color: white;
}

.ui-dialog .ui-dialog-buttonpane {
	padding : .3em 1em 0 .4em;
}
