body {
	font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noborder {
	border: 0px solid #ddd;
}
.smallpadding{
	padding: 1px 1px;
}
.smallbottommargin{
	margin: 0 0 8px;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: Orange;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

/*覆写dropdown-big-menu的位置，向右平移*/
.dropdown-menu.big-menu {
 	right: -150px !important;
}

/*覆写dropdown-big-menu的箭头位置*/
.dropdown-menu.big-menu:after {
	right : 163px !important;
}

/*同上，兼容IE浏览器，IE会生成after和before两个箭头*/
.dropdown-menu.big-menu:before {
	right : 163px !important;
}

.dropdown-menu .divider {
	height : 0px;
	border-bottom: 1px dashed white !important;
	margin: 1px 1px;
}

.nav li + .nav-header {
	margin-top: 2px;
}

.tooltip-inner {
	max-width : 400px;
	table-layout:fixed;
	word-break: break-all;
	overflow:hidden;
}

.form-alert {
	border-style: solid;
	border-width: 1px;
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-warn {
  color: #C09853;
  background-color: #FCF8E3;
  border-color: #FBEED5;
}

.form-actions {
	padding-top : 7px !important;
	padding-bottom : 8px !important;
}

.modal-backdrop {
	background-color : "white";
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity : 0.2;
}

.pp_location {
	width: 677px;
	overflow: hidden;
	left: 0;
	top: 26px;
}

.pp_location dl {
	margin-bottom: 8px;
	border-bottom: 1px dashed #E4E4E4;
	margin: 0;
	padding: 3px;
}

.pp_location dt {
	float: left;
	width: 90px;
	color: #999;
	padding: 0;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.pp_location dd {
	margin-left: 90px;
	margin-right: -10px;
	padding-top: 1px 9;
}

.pp_location ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pp_location li {
	float: left;
	width: 140px;
	margin: 0 5px 1px 0;
	padding: 0;
}

.pp_location a {
	padding: 0;
	white-space: normal;
}

.Fix:after {
	clear: both;
	display: block;
	height: 0px;
	content: '\20';
}

.pop-panel {
	visibility: hidden;
	padding: 5px 9px;
	background: white;
	color: #61646E;
}

form.lion > label:first-child {
	margin-left: 7px;
}

form.lion > *+label, form.lion > *+button {
	margin-left: 20px;
}

table.lion {
	margin-top: 10px;
}

table.lion tr {
	height : 35px;
}

table.lion tr:hover td {
	background-color: white !important;
}

td.lion-label {
	text-align: right;
	background-color: #f5f5f5;
	width : 120px;
}

table.lion tr:hover td.lion-label {
	background-color: #f5f5f5 !important;
}

table.lion td select, td textarea, td input {
	margin-bottom: 0px !important;
}

table.lion td label {
	display : inline;
	vertical-align: middle;
	margin-left: 5px;
}

table.lion td *+input[type="radio"], table.lion td *+input[type="checkbox"],
.form-horizontal .controls *+input[type="radio"] {
	margin-left : 20px;
}



table.lion td {
	vertical-align: middle;
}

table.lion input[type="radio"], input[type="checkbox"] {
	margin : 0 0;
}

.form-horizontal .control-lion-group {
	margin-bottom : 12px;
}

.form-horizontal .control-lion-label {
	width : 100px;
}

.form-horizontal .lion-controls {
	margin-left : 120px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.alert-lion {
		margin-left: -20px;
		margin-bottom : 0;
	}
}

@media (min-width: 1200px) {
	.alert-lion {
		margin-left: -30px;
		margin-bottom : 0;
	}
}


/*==============extend jquery dialog===============*/
.ui-dialog .ui-dialog-buttonpane button {
	/*margin : .5em .4em .5em 1.5em;*/
	-webkit-border-radius : 4px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	border : 1px solid #CCC;
	background-color: white;
	min-width: 50px;
}

.ui-dialog .ui-dialog-buttonpane {
	padding : .3em 0 0 0;
	text-align : center;
}

.ui-dialog .ui-dialog-buttonpane *+button {
	margin-left : 25px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float : none;
}
/*=================自定义CSS==================*/
.lion_red{
	color:red;
}
