<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="Config">
	<typeAlias alias="Config" type="com.dianping.lion.entity.Config" />
	<typeAlias alias="ConfigInstance" type="com.dianping.lion.entity.ConfigInstance" />
	<typeAlias alias="ConfigInstanceVo" type="com.dianping.lion.entity.ConfigInstanceVo" />

	<resultMap id="ConfigResult" class="Config">
		<result column="id" property="id"/>
		<result column="key" property="key"/>
		<result column="desc" property="desc"/>
		<result column="type" property="type"/>
		<result column="projectId" property="projectId"/>
		<result column="createUserId" property="createUserId"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="isDel" property="deleted"/>
		<result column="seq" property="seq"/>
	</resultMap>
	
	<resultMap id="ConfigInstanceResult" class="ConfigInstance">
		<result column="id" property="id"/>
		<result column="configId" property="configId"/>
		<result column="value" property="value"/>
		<result column="envId" property="envId"/>
		<result column="isActive" property="active"/>
		<result column="activeTime" property="activeTime"/>
		<result column="createUserId" property="createUserId"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyTime" property="modifyTime"/>
		<result column="isDel" property="deleted"/>
	</resultMap>
	
	<select id="findConfigsByProject" resultMap="ConfigResult" parameterClass="map">
		SELECT *
		FROM config
		WHERE projectId = #projectId# 
		<isEqual property="includeDeleted" compareValue="false">
			and isDel = 0
		</isEqual>
		ORDER BY seq, id
		
    </select>
    
    <select id="findInstancesByProjectAndEnv" resultMap="ConfigInstanceResult" parameterClass="map">
		SELECT i.*
		FROM config c inner join config_instance i on c.id = i.configId
		WHERE c.projectId = #projectId# AND i.envId = #envId#
		<isEqual property="includeDeleted" compareValue="false">
			and c.isDel = 0 and i.isDel = 0
		</isEqual>
		ORDER BY c.seq, c.id
    </select>
    
</sqlMap>